@model List<Review>

<div class="reviews-container">
    @foreach (var review in Model)
    {
        <div class="review-box">
            <div class="review-header">
                <span class="username">@review.User.UserName</span>
                <span class="date">@review.CreatedAt.ToString("dd MMM yyyy HH:mm")</span>
            </div>

            <div class="review-content">
                <a href="@Url.Action("Details", "Movie", new { id = review.Movie.Id })">
                    <img class="review-poster" src="~/images/posters/@(string.IsNullOrEmpty(review.Movie.Profile.PosterUrl) ? "_no_poster.png" : review.Movie.Profile.PosterUrl)" />
                </a>
                <p class="review-entry">@review.Entry</p>
            </div>
        </div>
    }
</div>