@{
	string navMenu = ViewBag.NavMenu as string ?? "Landing";
	if (ViewData["HideNavMenu"] as bool? == true)
	{
		navMenu = "None";
	}
}

<ul class="navbar-nav">

	@if (navMenu == "None")
	{
		<!-- Sağ menü gösterilmesin -->
	}

	else if (navMenu == "User Feed")
	{
		<li class="nav-item">
			<a class="nav-link" asp-controller="Movies" asp-action="Index">Films</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Watchists" asp-action="Index">Lists</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Accounts" asp-action="Members">Members</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Home" asp-action="About">About</a>

		</li>

		<li class="nav-item">
			<form asp-controller="Account" asp-action="Logout" method="post">
				<button type="submit" class="nav-link text-uppercase text-black">Sign Out</button>
			</form>
		</li>
	}
	else if (navMenu == "Profile")
	{
		<li class="nav-item">
			<a class="nav-link" asp-controller="Users" asp-action="Profile">My Profile</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Users" asp-action="Edit">Edit Info</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Home" asp-action="About">About</a>

		</li>
		<li class="nav-item">
			<form asp-controller="Account" asp-action="Logout" method="post">
				<button type="submit" class="nav-link btn btn-link text-white">Logout</button>
			</form>
		</li>
	}
	else // default: Landing
	{
		<li class="nav-item">
			<a href="#" class="nav-link" id="openLoginModal">Sign In</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link" id="openRegisterModal">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Home" asp-action="About">About</a>

		</li>
	}
</ul>
