﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
	string navMenu = ViewBag.NavMenu;
	if (ViewData["HideNavMenu"] as bool? == true)
	{
		navMenu = "None";
	}
}
@{
	string? username = null;
	bool isAdmin = false;

	if (SignInManager.IsSignedIn(User))
	{
		var user = await UserManager.GetUserAsync(User);
		username = user?.UserName;
		isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
	}
}

<ul class="navbar-nav">

	@if (isAdmin)
	{
		@if (username != null)
		{
			<li class="nav-item">
				<a class="nav-link text-danger"
				   asp-controller="Dashboard"
				   asp-action="Index">
					ADMINISTRATORY: @username
				</a>
			</li>
		}

		<li class="nav-item">
			<form asp-controller="Accounts" asp-action="Logout" method="post" class="d-inline">
				@Html.AntiForgeryToken()
				<button type="submit" class="nav-link text-uppercase">Sign Out</button>
			</form>
		</li>
	}

	@if (navMenu == "Landing")
	{
		<li class="nav-item">
			<a href="#" class="nav-link" id="openLoginModal">Sign In</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link" id="openRegisterModal">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Home" asp-action="About">About</a>

		</li>
	}

	else if (isAdmin==false && (navMenu == "User Feed" || navMenu == "Movie Details"))
	{

		@if (username != null)
		{
			<li class="nav-item">
				<a class="nav-link" style="color:#af32e4; text-decoration-style:dotted" asp-controller="UserProfile" asp-action="UserProfileIndex">@username</a>
			</li>
		}
		<li class="nav-item">
			<a class="nav-link" asp-controller="Movies" asp-action="PublicIndex">Films</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Dashboard" asp-action="Lists">Lists</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Home" asp-action="About">About</a>

		</li>
		<li class="nav-item">
			<form asp-controller="Accounts" asp-action="Logout" method="post" class="d-inline">
				@Html.AntiForgeryToken()
				<button type="submit" class="nav-link text-uppercase">Sign Out</button>
			</form>
		</li>

	}

	else if (navMenu == "User Profile")
	{

		<li class="nav-item">
			<form asp-controller="Accounts" asp-action="Logout" method="post" class="d-inline">
				@Html.AntiForgeryToken()
				<button type="submit" class="nav-link text-uppercase">Sign Out</button>
			</form>
		</li>
	}
	else
	{

		<!-- Sağ menü gösterilmesin -->
	}
</ul>
