html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*Linklene þeylerde bunu kullancam*/
.userlink {
    color: white; /* istediðin renk */
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.userlink:hover {
    color: #ff7f50; /* hover efekti */
    text-decoration: underline;
}

/*admin dashboarddaki navmenulink*/
.admin-navmenulink {
    color: #6643b5; /* açýk mor-siyah */
    text-decoration: none;
    text-transform:uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    padding:1rem;
    margin-right:10px;
    margin-top:10px;
    border-bottom: 1px groove #430f58;
    border-top: 1px groove #430f58;
    border-left: 1px groove #430f58;
    border-right: 1px groove #430f58;
}
    .admin-navmenulink:hover {
        color: #6643b5; /* koyu mor */
        font-size: 1.6rem; /* hover efekti */
        background-color:blanchedalmond;
    }


/*SPECIAL HEADER*/

.specialheader {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 30px 0 30px 0;
    color: #1c1c2e; /* koyu gri-siyah */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    border-left: 6px solid #6643b5; /* sol þerit rengi */
    transition: all 0.3s ease-in-out;
}

    .specialheader:hover {
        color: #8e7fff;
        border-left-color: #8e7fff;
        letter-spacing: 1.5px;
    }


/*UserProfile*/
/* === Profile Header === */
.profile-header {
    background-color: #1e1e2f;
    color: #a2a8d3;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-bottom: 1px solid #444;
    border-radius:0.5rem;
    margin-left: -15rem;
    margin-right: -15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit:cover;
    border: 3px solid;
}

.user-meta h2 {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 1.9rem;
    color: #bf9cc2;
}

.user-meta p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
    color: #ccc;
    gap:1rem;
}

/* === Stats Section === */
.profile-stats {
    display: flex;
    justify-content: start;
    gap: 2rem;  
    margin-left: -15rem;
}

.stat-card {
    background-color: #27293d;    
    border-radius: 0.75rem;
    padding: 1rem 2rem;
    text-align: center;
    width: 150px;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: 600;
    text-decoration: none; /* remove underline from links */
}
    .stat-card a {
        text-decoration: none; /* ensure links inside stat cards have no underline */
        color: inherit; /* keep text color consistent */
    }


    .stat-card:hover {
        background-color: #353857;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    }

    .stat-card h3 {
        font-size: 1.2rem;
        font-weight:700;
        margin: 0;
        color:#bf9cc2;
    }

    .stat-card p {
        margin: 0;
        font-size: 0.85rem;
        text-transform: uppercase;
        color: #a2a8d3;
    }

/* === Favorites & Watchlist Section === */
.favorites-section, .watchlist-section {
    margin-top:3rem;
    margin-left: -15rem;
    margin-right: -15rem;
}

.section-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    background-color: #27293d;
    padding: 1rem;
    border-radius: 1rem;
}

    .section-container img {
        width: 150px;
        height: 210px;
        object-fit: cover;
        border-radius: 0.5rem;
        box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    }

.section-header {
    font-size: 1.4rem;
    font-weight: 600;
    color: #430f58;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    text-transform: uppercase;
}

    .section-header:hover {
        color: #6643b5;
    }

/* REVIEW BOX*/
.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

.review-box {
    background-color: #1f1f2f;
    border-radius: 1rem;
    padding: 1.2rem 1.5rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    color: #f0eaff;
    transition: transform 0.2s ease;
}

    .review-box:hover {
        transform: scale(1.02);
    }

.review-header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 0.95rem;
    color: #c3b4ff;
    margin-bottom: 0.8rem;
}

.review-content {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.review-poster {
    width: 70px;
    height: 100px;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    transition: opacity 0.2s ease;
}

    .review-poster:hover {
        opacity: 0.85;
    }

.review-entry {
    flex: 1;
    font-size: 0.95rem;
    line-height: 1.4;
    padding-right: 0.5rem;
}




 /* FILM LISTELEYECEÐÝM ZAMAN KULLANACAÐIM ÞABLON CSS */
 /* GRIDLÝ GÖSTERÝM */

/* Grid Yapýsý */
.movielist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 2px;
}

/* Kart */
.movielist-card {
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 200px;
    height: 300px;
    margin-top: 19px;
    background-color: #1e1e2f;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    color: #eee;
}

    .movielist-card:hover {
        transform: scale(1.03);
    }

    /* Poster */
    .movielist-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

/* Overlay Bilgiler */
.movielist-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #dadce9;
    font-weight: 700;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.movielist-card:hover .movielist-info {
    opacity: 1;
    transform: translateY(0);
}

/*MOVIELIST SIRALI LÝSTELÝ GÖRÜNÜM */


.movielist-header,
.movielist-row {
    display: grid;
    grid-template-columns: 200px 150px 180px 120px 100px;
    align-items: center;
    gap: 50px;
    padding: 12px 20px;
    border-radius: 10px;
    max-width:1000px;
}

.movielist-header {
    font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, Segoe UI, Hiragino Sans, Meiryo, sans-serif, ColorEmoji;
    background-color: #2a2a3d;
    color: #aaa;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom:1rem;
}

.movielist-row {
    background-color: #1f1f2f;
    color: #dfc8de;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    margin-bottom: 8px;
}

    .movielist-row:hover {
        background-color: #292940;
    }

    .movielist-row img {
        width: 80px;
        height: 100px;
        object-fit: cover;
        border-radius: 6px;
    }


.movielist-table {
    width: 100%;
    max-width: 1000px;
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.movielist-poster-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

    .movielist-poster-info img {
        width: 60px;
        height: 90px;
        border-radius: 6px;
        object-fit: cover;
    }






 /* Movie interaction and average rating stars */
.avg-star {
    background-color: #430f58;
    color: #fbbf24;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0 0 8px rgba(251, 191, 36, 0.4);
}

.star-icon {
    font-size: 25px;
    color: #fbbf24;
}


.star {
    border: 10px;
    font-size: 30px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    transition: color 0.2s;
}

    .star.selected, .star.hovered {
        color: #fbbf24;
    }


.soft-container {
    background-color: rgba(0,0,0,0.1);
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* === UserFeed SAYFASINA STYLE === */
.user-feed-layout {
    margin-left: -100px;
    margin-right: -100px;

    display: grid;
    grid-template-columns: 1.4fr 1.4fr 1.4fr;
    gap: 130px;
    padding: 0px 0px 0px 0px !important;
}

.left-panel,
.center-panel {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.right-panel {
    width: 100%;
}

.rss-wrapper {
    transform: scale(1); /* News içeriðini büyüt */
    transform-origin: top left;

}
.right-panel iframe {
    margin-top: 30px;
    width: 350px;
    height: 500px;
    border: none;
}

.feed-card-container {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 0px;
}


/* Baþlýklar */
.feed-h3 {
    border-left: 5px solid #ff55aa;
    padding-left: 10px;
    color: #430f58;
    margin-bottom: 1px;
    margin-top: 50px;
    font-size:20px;
}

/* Kartlar */
.feed-card {
    position: relative;
    width: 80px;
    height: 120px;
    background: #2C2C4F;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s ease;
}

    .feed-card:hover {
        transform: scale(1.03);
    }

    .feed-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

/* Overlay title yazýsý */
.feed-title-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    font-size: 11px;
    padding: 6px 2px;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
    font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, Segoe UI, Hiragino Sans, Meiryo, sans-serif, ColorEmoji;
}

.feed-card:hover .feed-title-overlay {
    transform: translateY(0%);
}

/*feed teki welocme*/
.welcome-header {
    font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, Segoe UI, Hiragino Sans, Meiryo, sans-serif, ColorEmoji;
    margin-top: 40px;
    margin-left: -100px;
    padding-left: 0px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #430f58;
    text-align: left;
}

    .welcome-header span {
        text-transform: capitalize;
        color: #af32e4;
        font-weight: 700;
    }





/*SLIDE-IN POP-UPS*/
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/* MODAL POPUP KUTUSU SAÐ ÜST KONUMLU */
.modal-dialog.modal-dialog-centered {
    justify-content: flex-end !important;
    margin-left: auto;
    margin-right: 1.5rem;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    padding-top: 70px; /* navbar yüksekliði kadar boþluk býrak */
    max-width: 420px;
}

.modal-box {
    animation: slideIn 0.4s ease-out;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    background-color: #d5def5;
    padding: 25px;
    max-width: 400px;
    width: 100%;
    color: #111827;
    font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, Segoe UI, Hiragino Sans, Meiryo, sans-serif, ColorEmoji;
    font-weight: 600;
}

    /* Input'larý daha düzgün yap */
    .modal-box input {
        margin-bottom: 15px;
        padding: 10px 12px;
        border: 1px solid #d1d5db;
        border-radius: 5px;
        width: 100%;
        font-size: 0.95rem;
    }

    /* Label'larý hizala */
    .modal-box label {
        font-size: 0.9rem;
        color: #374151;
        margin-bottom: 5px;
    }

    /* Buton stili */
    .modal-box button[type="submit"] {
        background-color: #6643b5;
        color: white;
        font-weight: 600;
        border: none;
        padding: 10px 16px;
        border-radius: 5px;
        transition: background-color 0.2s ease;
    }

        .modal-box button[type="submit"]:hover {
            background-color: #430f58;
        }

/* Responsive görünüm için */
@media (max-width: 768px) {
    .modal-dialog.modal-dialog-centered {
        justify-content: center;
    }
}

button.submit-button {
    background-color: #9356b6;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    text-emphasis-style:revert-layer;
    margin-bottom: 5px;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    width: 100%;
    text-transform: uppercase;
}

    button.submit-button:hover {
        background-color: #430f58;
    }




/* MOVIE/PUBLIC INDEX STYLE */

.explore-header {
    font-family: "Poetsen One", sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 50px;
    letter-spacing: 3px;
    color: #a2a8d3;
    text-shadow: 2px 2px 4px #6643b5;
    transition: all 0.3s ease-in-out;
}

    .explore-header:hover {
        color: #430f58; /* Açýk mor tonu */
        text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    }

.movie-card {
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 230px; /* kart geniþliði sabit */
    height: 350px; /* kart yüksekliði sabit */
    margin: -5px;
}

    .movie-card:hover {
        transform: scale(1.03);
    }

    .movie-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

.movie-title-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1px;
    text-align: center;
    color: #caadc9;
    font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, Segoe UI, Hiragino Sans, Meiryo, sans-serif, ColorEmoji;
    font-weight: 700;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0px);
    opacity: 0; /* BAÞLANGIÇTA GÖRÜNMEZ */
    transform: translateY(20px); /* hafif aþaðýda baþlasýn */
    transition: all 0.3s ease-in-out;
}

.movie-card:hover .movie-title-overlay {
    opacity: 1; /* GÖRÜNÜR YAP */
    transform: translateY(0); /* yukarý çýkar */
    background: rgba(0, 0, 0, 0.7);
}


/*NAVBAR STYLE*/
.custom-navbar { /*navbarýn tamamýna style*/
    background-color: rgba(0,0,0,0.7); /* yarý opak siyah */
    backdrop-filter: blur(0px);
    text-transform: uppercase;
    font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, Segoe UI, Hiragino Sans, Meiryo, sans-serif, ColorEmoji;
    min-height: 50px;
}

    .custom-navbar .nav-link { /*saðdaki menü yazýlarýna style*/
        font-weight: 450;
        letter-spacing: 1.6px;
        font-size: 1.2rem;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
        color: #c4c1e0;
    }

        .custom-navbar .nav-link:hover {
            color: #fbbf24 !important; /* sarýmsý hover rengi */
        }

    .custom-navbar .navbar-brand { /*soldaki Cinemory yazsýna style*/
        font-family: "Poetsen One", sans-serif;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 1.3px;
        color: #a2a8d3;
    }

    .custom-navbar .btn-link.nav-link {
        color: #ffffff !important;
    }



.btn-transparent {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

    .btn-transparent:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
    }


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0;
}
