@{
    ViewData["Title"] = "About";
    ViewBag.NavMenu = "Landing";
    ViewData["HideNavMenu"] = true; // 👈 Bu satır menüyü yok eder
}

<div class="container mt-5">
    <h2 class="mb-4">ABOUT</h2>
    <p>
        Cinemory is a minimalistic platform for film lovers to log, rate, and revisit the movies that shaped their journey.
    </p>
    
    <p>
        Cinemory is built with love — for the screen and for the memory it leaves behind.
    </p>
</div>

<style>
	.container {
		padding: 20px;
		border-radius: 5px;
		font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, Segoe UI, Hiragino Sans, Meiryo, sans-serif, ColorEmoji;
	}

		.container h2 {
			color: #430f58;
			font-weight: 550;
			letter-spacing: 1.5px;
			font-size: 1.5rem;
			text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);

		}

		.container p {
			color: #6643b5;
			font-size: 1.2rem;
		}

			.container p:last-child {
				font-style: italic;
				font-size: 1.2rem;

			}
</style>
