@{
    ViewBag.NavMenu = "Landing";
    Layout = "_Layout";
    ViewData["Title"] = "Cinemory";
}

<style>
    body {
        background: url('/images/cinemory_landing_bg.jpg') no-repeat center center fixed;
        background-size: cover;
        margin: 0;
        padding: 0;
        font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, Segoe UI, Hiragino Sans, Meiryo, sans-serif, ColorEmoji;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    .landing-container {
        text-align: center;
        padding-top: 200px;
        color: #c4c1e0;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    }

   

    .landing-sub {
        font-size: 1.9rem;
		font-weight: 500;
    }

    .quote {
        position: absolute;
        bottom: 100px;
        right: 40px;
        color: #e7eaf6;
        font-style: italic;
        font-size: 0.95rem;
        text-align: right;
    }
</style>

<div class="overlay"></div>

<div class="landing-container">
   
    <p class="landing-sub">Rate. Review. Remember.</p>
</div>

<div class="quote">
    <p>"A book read by a thousand different people is a thousand different books."</p>
    <p>― Andrei Tarkovsky</p>
</div>
