@{
    ViewData["Title"] = "Cinemory";
}

<h2>Admin Panel</h2>

<div class="nav nav-tabs">
    <a class="nav-link" href="/Directors">Directors</a>
    <a class="nav-link" href="/Genres">Genres</a>
    <a class="nav-link" href="/Actors">Actors</a>
    <a class="nav-link" href="/Movies">Movies</a>
    <a class="nav-link" href="/Users">Users</a>
</div>
