@{
    ViewData["Title"] = "Cinemory";
	ViewBag.NavMenu = "Dashboard";
}

<h2 class="specialheader">Admin Dashboard</h2>

<div class="nav nav-tabs" style="text-decoration-color:revert-layer">
    <a class="nav-link" href="/Directors">Directors</a>
    <a class="nav-link" href="/Genres">Genres</a>
    <a class="nav-link" href="/Actors">Actors</a>
    <a class="nav-link" href="/Movies">Movies</a>
	<a class="nav-link" href="/Accounts/Members">Users</a>
	<a class="nav-link" href="/Dashboard/Lists">Lists</a>
</div>
