@{
    ViewData["Title"] = "Cinemory";
	ViewBag.NavMenu = "Dashboard";
}

<h2 class="specialheader">Admin Dashboard</h2>

<div class="nav nav-tabs">

    <a class="admin-navmenulink" href="/Accounts/Members">Users</a>
    <a class="admin-navmenulink" href="/Dashboard/Lists">Lists</a>    
    <a class="admin-navmenulink" href="/Movies">Movies</a>
    <a class="admin-navmenulink" href="/Directors">Directors</a>
    <a class="admin-navmenulink" href="/Genres">Genres</a>
    <a class="admin-navmenulink" href="/Actors">Actors</a>
</div>
