
@using Cinemory.Models.ViewModels
@model RegisterViewModel

<form id="registerForm" asp-action="Register" asp-controller="Account" method="post" onsubmit="submitRegisterForm(event)">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <span asp-validation-for="UserName"></span>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" type="password" />
    <span asp-validation-for="Password"></span>

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" type="password" />
    <span asp-validation-for="ConfirmPassword"></span>

    <button type="submit">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}