
@model List<AppUser>
@{
	ViewData["Title"] = "About";
	ViewBag.NavMenu = "Landing";
	ViewData["HideNavMenu"] = true; // 👈 Bu satır menüyü yok eder
}

<h2 class="specialheader">Members</h2>

<div class="movielist-header">

	<div>Username</div>
	<div>Email</div>
</div>

<div class="movielist-table">
	@foreach (var user in Model)
	{
		<div class="movielist-row">
			<div class="usercell">
				<a asp-controller="UserProfile" asp-action="UserProfileIndex" asp-route-id="@user.Id" class="userlink">
					<div>@user.UserName</div>
				</a>
			</div>

			<div>@user.Email</div>
		</div>

	}
</div>
